$page_width: 965px; //underscore o usar camel case
$primary_color: white;
$secondary_color: #567654;
 
body{
    background: white;
    font-color: $primary_color;       // aplicando valor #222
    margin: 5px 5px 10px 20px;
    width: $page_width;              // aplicando valor 965px
    // Alcance de un Selector en Sass
    h1{
      font-color: $secondary_color; // aplicando valor #567654
   }
}